[submodule "src/js/dojo"]
	path = src/js/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/js/dijit"]
	path = src/js/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/js/dojox"]
	path = src/js/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/js/util"]
	path = src/js/util
	url = https://github.com/dojo/util.git
[submodule "src/js/less"]
	path = src/js/less
	url = https://github.com/cloudhead/less.js.git
