/*

If you are developing a project that makes use of Dojo's built-in widgets,
you will probably want to include these two files.

@import '../js/dojo-release-1.6.0-src/dojo/resources/dojo.css';
@import '../js/dojo-release-1.6.0-src/dijit/themes/claro/claro.css';

*/
